/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 2, 2015, 12:48:54 PM
    Author     : nguyen
*/
body, html {
    height: 100%;
}
#avc-result{
    position: relative;
}
#my-name{
    font-size: 19px;
    font-weight: bold;
}
#my-type{
    color:orangered;
    padding-left: 3px;
}
#button-save{
    position: absolute;
    right: 100px;
    top: 1px;
}
#message{
    position: absolute;
    right: 100px;
    top: 1px;
}
#custom-add{
    color:blue;
}
#avc-add-button{
    position: relative;
}
#avc-add-select{
    position: absolute;
    top:0px;
    z-index: 9;
    width: 100px;
}
#avc-dropdown{
    width: 100px;
    position: absolute;
    top: 0px;
}
a{
    text-decoration: none;
    color:black
}
h4{
    /*color: gray;*/
    padding: 5px;
    margin: 0px;
    border-bottom: 1px solid;
}
.item{
    position: absolute;
    right: -253px;
    width: 200px;
    background-color: rgb(255, 227, 0);
    padding: 5px 0px;
    bottom: 2px;
    top: 2px;
    margin-left: 476px;
    border-radius: 7px 7px;
    border: 1px solid black;
    padding: 2px 15px;
}
.list-word{
    position: relative
}
.avc-title{
    text-align: center;
    font-size: 25px;
    border-bottom: 1px solid;
}
.avc-span{    
    display: inline-block;
    padding: 10px;}
.avc-header{
    display:block;

}

.avc-panel{
    position: relative;
}
.avc-content{
    position: relative;
    float: none;
    border-top: 1px solid #ddd;
    padding: 5px 10px;

}
.avc-albums{
    width: 200px;
    position: absolute;
    top: 0px;
    left: -4px;
    padding: 0px 10px 10px;
    background-color: #0085F9;
    border: 1px solid black;
    border-radius: 7px 7px;
}
.avc-list-word{
    margin-left: 250px;
    border: solid 1px black;
    padding: 0px 10px 10px;
    width: 250px;
    position: relative;
    background-color: #FF0404;
    border-radius: 7px 7px;
}
.avc-word-item{
    padding: 1px 3px;
    /*background-color: whitesmoke;*/

}
.avc-word-item:nth-of-type(odd){
    /*background-color: gray;*/
}
.search-content{
    margin-top: 10px;
    display:inline-block;
}
.result-content{
    text-align: left;
    border: 1px solid;
    display: inline-block;
    padding: 4px;
    width: 400px;
    position: relative;
}

.search-title{
    font-size: 15px;
    padding-bottom: 2px;
}
.search-custom{
    padding: 2px 0px;
    font-size: 14px;
}
.active{
    font-weight: bold
}
.word-active{
    font-size: 25px;
    background-color: tomato;
    border-bottom-left-radius: 8px 8px;
    margin: 2px 0px 2px 0px;
}
.album-active{
    font-size: 25px;
    background-color: #006DCC;
    border-bottom-left-radius: 8px 8px;
    margin: 2px 0px 2px 0px;

}
.avc-word-item:hover{
    background-color:tomato ;
    cursor: pointer;
    padding: 2px;

}
.login{
    margin: 0 auto;
    display: block;
}
.avc-album-item{
    padding: 3px;
}
.avc-album-item:hover{
    cursor: pointer; 
    background-color: #006DCC;
    padding: 2px 2px;
}
.avc-word-key{
    padding: 3px;    
}
